<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Подробнее о картридже</title>
</head>
<body>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
<div th:switch="${cartridges}">
    <div th:case="*">
        <h2>История картриджа</h2>
        <table>
            <thead>
            <tr>
                <th>Id Истории</th>
                <th>Дата Статуса</th>
                <th>Статус</th>
                <th>Инвентарный номер</th>
                <th colspan="2">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hist:${history}" th:switch="${hist.cartridgesId}" th:case="*{id}">
                <td th:text="${hist.idHistory}"></td>
                <td th:text="${hist.dateOfStatus}"></td>
                <td th:text="${hist.status}"></td>
                <td th:each="cart:${cartridges}" th:switch="${cart.id}" th:case="${hist.cartridgesId}"
                    th:text="${cart.inventoryNumber}"></td>
                <td><a th:href="@{history-update/{idHistory}/{id}(idHistory=${hist.idHistory},id=${hist.cartridgesId})}">Исправить</a></td>
                <td><a th:href="@{history-delete/{idHistory}/{id}(idHistory=${hist.idHistory},id=${hist.cartridgesId})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/history-create/{id}(id=${id})}">Создать историю</a></p>
    <p><a th:href="@{/cartridges}">Вернуться на картриджи</a></p>
</div>
</body>
</html>