<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Подробнее о картридже</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Поиск</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<div th:switch="${cartridges}">
    <div th:case="*">
        <div class="mx-auto" style="width: 200px;">
            <h2>История картриджа</h2>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th class="text-center">Id Истории</th>
                <th class="text-center">Дата Статуса</th>
                <th class="text-center">Статус</th>
                <th class="text-center">Инвентарный номер картриджа</th>
                <th colspan="2" class="text-center">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hist:${history}" th:switch="${hist.cartridgesId}" th:case="*{id}">
                <td th:text="${hist.idHistory}"></td>
                <td th:text="${hist.dateOfStatus}"></td>
                <td th:text="${hist.status}"></td>
                <td th:each="cart:${cartridges}" th:switch="${cart.id}" th:case="${hist.cartridgesId}"
                    th:text="${cart.inventoryNumber}"></td>
                <td><a th:href="@{history-update/{idHistory}/{id}(idHistory=${hist.idHistory},id=${hist.cartridgesId})}" class="btn btn-dark">Исправить</a></td>
                <td><a th:href="@{history-delete/{idHistory}/{id}(idHistory=${hist.idHistory},id=${hist.cartridgesId})}" type="button" class="btn btn-danger" id="deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</a></td>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить эту запись?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                <a href="" class="btn btn-primary" id="delRef">Да, удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="btn btn-primary mt-3" th:href="@{/history-create/{id}(id=${id})}">Создать историю</a></p>
</div>
</div>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>