<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><!--th:style="'font-weight: bold;'"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Картриджи</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Поиск</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
<div th:switch="${cartridges}" >
    <h2 th:case="null">Картриджи не найдены!</h2>
    <div th:case="*">
        <div class="mx-auto" style="width: 200px;">
            <h2>Картриджи</h2>
            <p><a class="btn btn-primary btn-sm" href="/cartridge-create">Создать картридж</a></p>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Инвентарный номер</th>
                <th class="text-center">Модель Картриджа</th>
                <th class="text-center">Модель принтера</th>
                <th class="text-center">Производитель</th>
                <th class="text-center">Чип</th>
                <th class="text-center">Ресурс</th>
                <th class="text-center">Город</th>
                <th class="text-center">Исполнитель</th>
                <th class="text-center">Комментарии</th>
                <th class="text-center">Колличество заправок</th>
                <th colspan="3" class="text-center">Операции</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="cartridge : ${cartridges}">
                <tr>
                    <td th:text="${cartridge.id}"></td>
                    <td th:text="${cartridge.inventoryNumber}"></td>
                    <td th:each="cart:${cartrs}"
                        th:switch="${cart.idCartrs}"
                        th:case="${cartridge.cartrsIdCartrs}"
                        th:text="${cart.typeCartr}"></td>
                    <div th:each="cart:${cartrs}" th:switch="${cartridge.cartrsIdCartrs}" th:case="${cart.idCartrs}">
                        <td th:each="print:${printers}"
                            th:switch="${print.idPrinters}"
                            th:case="${cart.printersIdPrinters}"
                            th:text="${print.typePrinters}"></td>
                        <div th:each="man:${manufacturers}">
                            <div th:each="print:${printers}" th:switch="${man.idModels}" th:case="${print.modelsIdModels}">
                                <td th:switch="${print.idPrinters}"
                                    th:case="${cart.printersIdPrinters}"
                                    th:text="${man.modelFromPrinters}"></td>
                            </div>
                        </div>
                    </div>
                    <td th:each="cart:${cartrs}"
                        th:switch="${cart.idCartrs}"
                        th:case="${cartridge.cartrsIdCartrs}"
                        th:text="${cart.chip}"></td>
                    <td th:text="${cartridge.resource}"></td>
                    <td th:text="${cartridge.city}"></td>
                    <td th:text="${cartridge.executor}"></td>
                    <td th:text="${cartridge.comments}"></td>
                    <td th:text="${cartridge.count}">
                    <td><a th:href="@{cartridge-moreInfo/{id}(id=${cartridge.id})}" class="btn btn-info">Подробнее</a></td>
                    <td><a th:href="@{cartridge-update/{id}(id=${cartridge.id})}" class="btn btn-dark">Исправить</a></td>

                    <td>
                        <a th:href="@{cartridge-delete/{id}(id=${cartridge.id})}" type="button" class="btn btn-danger" id="deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Удалить
                        </a>
                    </td>
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить эту запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                    <a href="" class="btn btn-primary" id="delRef">Да, удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</div>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>