<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Исправить картридж</title>
</head>
<body>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
<form action="#" th:action="@{/cartridge-update}" th:object="${cartridge}" method="post">
    <table>
        <tbody>
        <tr>
        <td><input readonly type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <th for="inventoryNumber">Инвентарный номер</th>
            <td><input type="text" th:field="*{inventoryNumber}" id="inventoryNumber" placeholder="inventoryNumber"></td>
        </tr>
        <tr>
            <th for="resource">Ресурс</th>
            <td><input type="text" th:field="*{resource}" id="resource" placeholder="resource"></td>
        </tr>
        <tr>
            <th for="city">Отдел</th>
            <td><input type="text" th:field="*{city}" id="city" placeholder="city"></td>
        </tr>
        <tr>
            <th for="executor">Исполнитель</th>
            <td><input type="text" th:field="*{executor}" id="executor" placeholder="executor"></td>
        </tr>
        <tr>
            <th for="comments">Описание</th>
            <td><input type="text" th:field="*{comments}" id="comments" placeholder="comments"></td>
        </tr>
      <tr>
            <td>Выберите тип картриджа</td>
            <td><select th:field="*{cartrsIdCartrs}" id="cartrsIdCartrs">
                <option th:each="cart : ${cartrs}"
                        th:value="${cart.idCartrs}"
                        th:text="${cart.typeCartr}">
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Выберите тип принтера</td>
            <td><select th:field="*{printersIdPrinters}" id="printersIdPrinters">
                <option th:each="print : ${printers}"
                        th:value="${print.idPrinters}"
                        th:text="${print.typePrinters}">
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Исправить картридж"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>