<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сравнение партий</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>

    <style>
        .btn-disable{
            user-select:none!important;
            background-color:#ccc!important;
            cursor:default!important;
            outline:none!important;
            pointer-events:none!important;
        }
    </style>
<!--    <script type="text/javascript" language="javascript">-->
<!--        function DisableBackButton() {-->
<!--            window.history.forward()-->
<!--        }-->
<!--        DisableBackButton();-->
<!--        window.onload = DisableBackButton;-->
<!--        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }-->
<!--        window.onunload = function() { void (0) }-->
<!--    </script>-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main" data-bs-toggle="modal" data-bs-target="#CheckRedirect1">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs" data-bs-toggle="modal" data-bs-target="#CheckRedirect2">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers" data-bs-toggle="modal" data-bs-target="#CheckRedirect3">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges" data-bs-toggle="modal" data-bs-target="#CheckRedirect4">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container ms-auto mt-5 fw-bold" >
        <form action="#" th:action="@{/Compare/{lotNumber}/{idHistory}/{idHistoryReturn}(idHistory=${idHistory},lotNumber=${lotNumber},idHistoryReturn=${idHistoryReturn})}" th:object="${partylots}" method="post" id="addNumberLots" onclick="submitLimit()">
            <div class="row mb-3">
                <div th:each="hist:${history}" th:switch="${idHistory}" th:case="${hist.idHistory}">
                    <label for="historyIdHistory" class="col-sm-2 col-form-label">Дата отправки партии</label>
                    <div class="col-sm-7">
                        <input readonly type="hidden" class="form-control w-50" name="historyIdHistory"
                               th:text="${hist.dateOfStatus} + ' || ' + ${hist.status} + ' || ' + ${hist.executor}"
                               th:value="${idHistory}"
                               id="historyIdHistory">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div th:each="hist:${history1}" th:switch="${idHistoryReturn}" th:case="${hist.idHistory}">
                    <label for="historyIdHistoryReturn" class="col-sm-2 col-form-label">Дата принятия партии</label>
                    <div class="col-sm-7">
                        <input readonly type="hidden" class="form-control w-50" name="historyIdHistoryReturn"
                               th:text="${hist.dateOfStatus} + ' || ' + ${hist.status} + ' || ' + ${hist.executor}"
                               th:value="${idHistoryReturn}"
                               id="historyIdHistoryReturn">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="lotNumber" class="col-sm-2 col-form-label">Номер партии</label>
                <div class="col-sm-7">
                    <input readonly type="hidden" class="form-control w-50" th:value="${lotNumber}" th:text="${lotNumber}" id="lotNumber" name="lotNumber">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inventoryNumber" class="col-sm-2 col-form-label">Картридж</label>
                <div class="col-sm-7">
                    <input type="text" autofocus class="form-control w-50"  id="inventoryNumber" name="inventoryNumber">
                    <div th:if="${response == 'Empty'}" style="color: red">Поле не может быть пустым</div>
                    <div th:if="${response == 'Empty1'}" style="color: red">Такой картридж не существует</div>
                    <div th:if="${response == 'Empty2'}" style="color: red">Такой картридж уже принят</div>
                    <div th:if="${response == 'Empty3'}" style="color: red">Такой картридж принят в другой партии, этим днём</div>
                    <div th:if="${response == 'Empty4'}" style="color: red">Принятый вами картридж находится в друой партии, но вы его уже приняли, поэтому отложите его и продолжайте принимать эту партию</div>
                    <div th:if="${response == 'Empty5'}" style="color: red">Партия не может быть закрыта, так как, не все картриджи пришли</div>
                    <div th:if="${response == 'Empty6'}" style="color: red">Партия не может быть утилизирована, так как не все картриджи отправлены в утиль</div>
                </div>
            </div>
            <div hidden class="row mb-3">
                <label for="partyStatus1" class="col-sm-2 col-form-label">Статус партии</label>
                    <input type="number" class="form-control w-50" th:field="*{partyStatus}" th:value="*{partyStatus=0}" id="partyStatus1" name="partyStatus">
            </div>
            <input  type="submit" id="addNumberLots1" value="Проверить картридж" class="btn btn-primary">
        </form>
        <div th:if="${partylotsOne != null}">
            <div class="container-fluid">
                <br>
                <table class="table table-hover table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>Статус картриджа</th>
                        <th>Id Партии</th>
                        <th>Номер партии</th>
                        <th>Id Картриджа</th>
                        <th>Инвентарный номер</th>
                        <th>Город</th>
                        <th>Исполнитель</th>
                        <th>Модель картриджа</th>
                        <th>Чип</th>
                        <th>Модель принтера</th>
                        <th>Производитель</th>
                        <th>Количество заправок</th>
                        <th>Ресурс</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pl : ${partylotsOne}">
                        <td th:if="${pl.partyStatus == 4}" style="color: blue">Картридж утилизрован</td>
                        <td th:if="${pl.partyStatus == 1}" style="color:limegreen;">Картридж принят</td>
                        <td th:text="${pl.idPartylots}"></td>
                        <td th:text="${pl.lotNumber}"></td>
                        <td th:text="${pl.cartridgesId}"></td>
                        <div th:each="cartridge :${cartridges}" th:switch="${pl.cartridgesId}" th:case="${cartridge.id}">
                            <td th:text="${cartridge.inventoryNumber}"></td>
                            <td th:text="${cartridge.city}"></td>
                            <td th:text="${cartridge.executor}"></td>
                            <div th:each="cartr:${cartrs}" th:switch="${cartr.idCartrs}" th:case="${cartridge.cartrsIdCartrs}">
                                <td th:text="${cartr.typeCartr}"></td>
                                <td th:text="${cartr.chip}"></td>
                                <div th:each="print:${printers}" th:switch="${cartr.printersIdPrinters}" th:case="${print.idPrinters}">
                                    <td th:text="${print.typePrinters}"></td>
                                    <div th:each="man:${manufacturers}" th:switch="${print.modelsIdModels}" th:case="${man.idModels}">
                                        <td th:text="${modelFromPrinters}"></td>
                                    </div>
                                </div>
                            </div>
                            <td th:text="${cartridge.count}"></td>
                            <td th:text="${cartridge.resource}"></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="container-fluid ms-auto fw-bold">
                <form action="#" th:action="@{/main/{idHistory}/{idHistoryReturn}/{lotNumber}(idHistory=${idHistory},lotNumber=${lotNumber},idHistoryReturn=${idHistoryReturn})}" method="post">
                    <div>
                        <div>
                            <label for="chck" class="col-sm-2 col-form-label">Нажмите если хотите закончить работу с партией</label>
                            <input type="checkbox" id="chck">
                        </div>
                        <div>
                            <button id="but" class="btn btn-primary btn-disable">Закончить сравнение партий</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="container-fluid ms-auto fw-bold">
                <form action="#" th:action="@{/main}" method="get">
                    <div>
                        <div>
                            <label for="chck1" class="col-sm-2 col-form-label">Нажмите если хотите закончить работу с партией, без закрытия партии</label>
                            <input type="checkbox" id="chck1">
                        </div>
                        <div>
                            <button id="but1" class="btn btn-primary btn-disable">Выйти на главную страницу</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="mx-auto" style="width: 200px;">
        <h2>Партия</h2>
    </div>
        <br>
        <br>
        <br>
        <table class="table table-hover table-bordered" id="myTable">
            <thead class="table-light">
            <tr>
                <th>Статус картриджа</th>
                <th>Id Партии</th>
                <th>Номер партии</th>
                <th>Id Картриджа</th>
                <th>Инвентарный номер</th>
                <th>Город</th>
                <th>Исполнитель</th>
                <th>Модель картриджа</th>
                <th>Чип</th>
                <th>Модель принтера</th>
                <th>Производитель</th>
                <th>Количество заправок</th>
                <th>Ресурс</th>
                <th>Комментарии</th>
                <th>Операция принятия</th>
                <th>Операция комментария</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pl : ${partylots1}">
            <div >
                <td th:if="${pl.partyStatus == 0 and pl.historyIdHistory != null}"
                    style="color: red">Картридж не пришёл</td>
                <td th:if="${pl.partyStatus == 1}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:if="${pl.partyStatus == 2}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:if="${pl.partyStatus == 3}"
                    style="color: magenta">Картридж на списании</td>
                <td th:if="${pl.partyStatus == 4}"
                    style="color: blue">Картридж утилизирован</td>
                <td th:if="${pl.partyStatus == 5}"
                    style="color: blue">Картридж утилизирован</td>
                <td th:if="${pl.historyIdHistory == null}">Картридж был удалён из партии</td>
                <td th:text="${pl.idPartylots}"></td>
                <td th:text="${pl.lotNumber}"></td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">Картридж был удалён</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:text="${pl.cartridgesId}"></td>
                <div th:each="cartridge :${cartridges}" th:switch="${pl.cartridgesId}" th:case="${cartridge.id}">
                    <td th:text="${cartridge.inventoryNumber}" id="foobar"></td>
                    <td th:text="${cartridge.city}"></td>
                    <td th:text="${cartridge.executor}"></td>
                    <div th:each="cartr:${cartrs}" th:switch="${cartr.idCartrs}" th:case="${cartridge.cartrsIdCartrs}">
                        <td th:text="${cartr.typeCartr}"></td>
                        <td th:text="${cartr.chip}"></td>
                        <div th:each="print:${printers}" th:switch="${cartr.printersIdPrinters}" th:case="${print.idPrinters}">
                            <td th:text="${print.typePrinters}"></td>
                            <div th:each="man:${manufacturers}" th:switch="${print.modelsIdModels}" th:case="${man.idModels}">
                                <td th:text="${modelFromPrinters}"></td>
                            </div>
                        </div>
                    </div>
                    <td th:text="${cartridge.count}"></td>
                    <td th:text="${cartridge.resource}"></td>
                    <td style="width: 150px;word-wrap: break-word;max-width: 150px" th:text="${pl.partyComments}"></td>
                    <td th:if="${pl.partyStatus == 0}"><a type="button" class="btn btn-info" th:href="@{/lots-check/{idPartylots}/{idHistory}/{idHistoryReturn}/{lotNumber}(idPartylots=${pl.idPartylots},idHistory=${idHistory},idHistoryReturn=${idHistoryReturn},lotNumber=${pl.lotNumber})}"
                           data-bs-toggle="modal" data-bs-target="#CheckOneStatus" id="CheckButton">
                        Принять картридж
                    </a></td>
                    <td th:if="${pl.partyStatus == 3}"><a type="button" class="btn btn-info" th:href="@{/lots-check/{idPartylots}/{idHistory}/{idHistoryReturn}/{lotNumber}(idPartylots=${pl.idPartylots},idHistory=${idHistory},idHistoryReturn=${idHistoryReturn},lotNumber=${pl.lotNumber})}"
                                                          data-bs-toggle="modal" data-bs-target="#CheckOneStatus" id="CheckButton">
                        Отправить в утиль
                    </a></td>
                    <td th:if="${pl.partyStatus != 0 and pl.partyStatus != 3 and pl.partyStatus != 4}"><a type="button" class="btn btn-danger" th:href="@{/lots-check-return/{idPartylots}/{idHistory}/{idHistoryReturn}/{lotNumber}(idPartylots=${pl.idPartylots},idHistory=${idHistory},idHistoryReturn=${idHistoryReturn},lotNumber=${pl.lotNumber})}"
                                                          data-bs-toggle="modal" data-bs-target="#CheckOneStatusUpdate" id="CheckButtonUpdate">
                        Отменить принятие
                    </a></td>
                    <td th:if="${pl.partyStatus == 4}"><a type="button" class="btn btn-danger" th:href="@{/lots-check-return/{idPartylots}/{idHistory}/{idHistoryReturn}/{lotNumber}(idPartylots=${pl.idPartylots},idHistory=${idHistory},idHistoryReturn=${idHistoryReturn},lotNumber=${pl.lotNumber})}"
                                                          data-bs-toggle="modal" data-bs-target="#CheckOneStatusUpdate" id="CheckButtonUpdate">
                        Отменить утилизацию
                    </a></td>
                    <td><a th:href="@{/addCommentsCompare/{idHistory}/{idHistoryReturn}/{lotNumber}/{idPartylots}(idHistory=${idHistory},idHistoryReturn=${idHistoryReturn},lotNumber=${pl.lotNumber},idPartylots=${pl.idPartylots})}" class="btn btn-dark">
                        Добавить комментарий
                    </a></td>
                </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="CheckOneStatus" tabindex="-1" aria-labelledby="CheckOneStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckOneStatusModalLabel">Подтверждение принятия</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите принять картридж?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="" class="btn btn-primary" id="ChekingStatus">Да</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckOneStatusUpdate" tabindex="-1" aria-labelledby="CheckOneStatusUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckOneStatusUpdateModalLabel">Подтверждение отказа от принятия</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите отменить принятие этого картриджа?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="" class="btn btn-primary" id="ChekingStatusUpdate">Да</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect1" tabindex="-1" aria-labelledby="CheckRedirectModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel1">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что закрыли партию???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/main" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect2" tabindex="-1" aria-labelledby="CheckRedirectModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel2">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что закрыли партию???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/cartrs" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect3" tabindex="-1" aria-labelledby="CheckRedirectModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel3">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что закрыли партию???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/printers" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect4" tabindex="-1" aria-labelledby="CheckRedirectModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel4">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что закрыли партию???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/cartridges" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<script>
    let but = document.getElementById("but");
    document.getElementById("chck").onclick = function() {
        this.checked
            ? but.classList.remove("btn-disable")
            : but.classList.add("btn-disable");
    };
</script>

<script>
    let but1 = document.getElementById("but1");
    document.getElementById("chck1").onclick = function() {
        this.checked
            ? but1.classList.remove("btn-disable")
            : but1.classList.add("btn-disable");
    };
</script>

<script>
    function submitLimit() {
        let btn = document.getElementById('addNumberLots1')
        setTimeout(function() {
            btn.setAttribute('disabled', 'disabled');
        }, 1);

        setTimeout(function() {
            btn.removeAttribute('disabled');
        }, 300);}
</script>

<script>
    $('.table #CheckButton').on('click',function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#CheckOneStatus #ChekingStatus').attr('href', href);
        $('#CheckOneStatus').modal();
    });
</script>

<script>
    $('.table #CheckButtonUpdate').on('click',function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#CheckOneStatusUpdate #ChekingStatusUpdate').attr('href', href);
        $('#CheckOneStatusUpdate').modal();
    });
</script>

<script>
    $(document).ready( function () {
        let table = $('#myTable').DataTable( {
            paging: false,
            info: false,
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', text: 'Экспортировать в Excel',exportOptions: {
                        columns: [ 1, 2, 3, 4, 5 ]
                    },
                    customize: function ( xlsx ){
                        let sheet = xlsx.xl.worksheets['sheet1.xml'];

                        // jQuery selector to add a border
                        $('row c[r*="3"]', sheet).attr( 's', '25' );
                    }},
            ],
            "language": {
                "search": "Поиск:",
                "zeroRecords":"Ничего не найдено"
            }
        } );
    })
</script>

<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>