<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание истории для сравнения</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
    <style>
        .btn-disable{
            user-select:none!important;
            background-color:#ccc!important;
            cursor:default!important;
            outline:none!important;
            pointer-events:none!important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container ms-auto mt-5 fw-bold" >
        <form action="#" th:action="@{/history-create2/{idHistory}/{lotNumber}(idHistory=${idHistory},lotNumber=${lotNumber})}" th:object="${partylots}" method="post" id="addNumberLots" onclick="submitLimit()">
            <div class="row mb-3">
                <div th:each="hist:${history}" th:switch="${idHistory}" th:case="${hist.idHistory}">
                    <label for="historyIdHistory" class="col-sm-2 col-form-label">Дата отправки партии</label>
                    <div class="col-sm-7">
                        <input readonly type="hidden" class="form-control w-50" name="historyIdHistory"
                               th:text="${hist.dateOfStatus} + ' || ' + ${hist.status} + ' || ' + ${hist.executor}"
                               th:value="${idHistory}"
                               id="historyIdHistory">
                    </div>
                </div>
                <div th:object="${history1}">
                    <div class="col-sm-7">
                        <div class="container ms-auto mt-5 fw-bold" >
                            <input readonly type="hidden" th:field="*{idHistory}">
                            <div class="row mb-3">
                                <label for="dateOfStatus" class="col-sm-2 col-form-label">Дата статуса</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control w-50"  th:field="*{dateOfStatus}"
                                           id="dateOfStatus" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="status" class="col-sm-2 col-form-label">Статус</label>
                                <div class="col-sm-7">
                                    <select class="form-select w-50" th:field="*{status}" id="status" required>
                                        <option value="в заправке">в заправке</option>
                                        <option value="в работе">в работе</option>
                                        <option value="списан">списан</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="executor" class="col-sm-2 col-form-label">Исполнитель</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control w-50" id="executor" name="executor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="lotNumber" class="col-sm-2 col-form-label">Номер партии</label>
                <div class="col-sm-7">
                    <input readonly type="hidden" class="form-control w-50" th:value="${lotNumber}" th:text="${lotNumber}" id="lotNumber" name="lotNumber">
                </div>
            </div>
            <div hidden class="row mb-3">
                <label for="partyStatus" class="col-sm-2 col-form-label">Статус партии</label>
                <input type="number" class="form-control w-50" th:field="*{partyStatus}" th:value="*{partyStatus=0}" id="partyStatus">
            </div>
            <input  type="submit" id="addNumberLots1" value="Начать принятие партии" class="btn btn-primary">
        </form>
    </div>
    <br>
    <br>
    <div class="mx-auto" style="width: 200px;">
        <h2>Партия</h2>
    </div>
    <br>
    <br>
    <br>
    <table class="table table-hover table-bordered" id="myTable">
        <thead class="table-light">
        <tr>
            <th>Статус партии</th>
            <th>Id Партии</th>
            <th>Номер партии</th>
            <th>Id Картриджа</th>
            <th>Инвентарный номер</th>
            <th>Город</th>
            <th>Исполнитель</th>
            <th>Модель картриджа</th>
            <th>Чип</th>
            <th>Модель принтера</th>
            <th>Производитель</th>
            <th>Количество заправок</th>
            <th>Ресурс</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pl : ${partylots1}">
            <div >
                <td th:if="${pl.partyStatus == 0}"
                    style="color: red">Не дошло</td>
                <td th:if="${pl.partyStatus == 1}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:if="${pl.partyStatus == 2}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:text="${pl.idPartylots}"></td>
                <td th:text="${pl.lotNumber}"></td>
                <td th:text="${pl.cartridgesId}"></td>
                <div th:each="cartridge :${cartridges}" th:switch="${pl.cartridgesId}" th:case="${cartridge.id}">
                    <td th:text="${cartridge.inventoryNumber}" id="foobar"></td>
                    <td th:text="${cartridge.city}"></td>
                    <td th:text="${cartridge.executor}"></td>
                    <div th:each="cartr:${cartrs}" th:switch="${cartr.idCartrs}" th:case="${cartridge.cartrsIdCartrs}">
                        <td th:text="${cartr.typeCartr}"></td>
                        <td th:text="${cartr.chip}"></td>
                        <div th:each="print:${printers}" th:switch="${cartr.printersIdPrinters}" th:case="${print.idPrinters}">
                            <td th:text="${print.typePrinters}"></td>
                            <div th:each="man:${manufacturers}" th:switch="${print.modelsIdModels}" th:case="${man.idModels}">
                                <td th:text="${modelFromPrinters}"></td>
                            </div>
                        </div>
                    </div>
                    <td th:text="${cartridge.count}"></td>
                    <td th:text="${cartridge.resource}"></td>
                    <td style="width: 150px;word-wrap: break-word;max-width: 150px" th:text="${pl.partyComments}"></td>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>

<script>
    let but = document.getElementById("but");
    document.getElementById("chck").onclick = function() {
        this.checked
            ? but.classList.remove("btn-disable")
            : but.classList.add("btn-disable");
    };
</script>

<script>
    function submitLimit() {
        let btn = document.getElementById('addNumberLots1')
        setTimeout(function() {
            btn.setAttribute('disabled', 'disabled');
        }, 1);

        setTimeout(function() {
            btn.removeAttribute('disabled');
        }, 300);}
</script>

</body>
</html>