<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Исправление истории</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function() { void (0) }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Поиск</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form action="#" th:action="@{/history-update/{id}(id=${id})}" th:object="${history}" method="post" onclick="submitLimit()">
    <td><input readonly type="hidden" th:field="*{idHistory}"></td>
    <div class="container ms-auto mt-5 fw-bold" >
        <div class="row mb-3">
            <label for="dateOfStatus" class="col-sm-2 col-form-label">Дата статуса</label>
            <div class="col-sm-7">
                <input type="date" class="form-control w-50"  th:field="*{dateOfStatus}"
                       id="dateOfStatus">
            </div>
        </div>
        <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label">Статус</label>
            <div class="col-sm-7">
                <select class="form-select w-50" th:field="*{status}" id="status" required>
                    <option value="в заправке">в заправке</option>
                    <option value="в работе">в работе</option>
                    <option value="на списание">на списание</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label">Выбранный картридж</label>
            <div class="col-sm-7">
                <select class="form-select w-50" th:field="*{cartridgesId}" id="cartridgesId">
                    <option th:each="hist:${history}"
                            th:value="${hist.cartridgesId}"
                            th:text="${hist.cartridgesId}">
                    </option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary mt-2" value="Изменить историю">
    </div>
</form>
</body>
</html>