<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><!--th:style="'font-weight: bold;'"-->
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<div th:switch="${history}">
    <h2 th:case="null">Истории не найдены!</h2>
    <div th:case="*">
        <h2>История</h2>
        <table>
            <thead>
            <tr>
                <th>Id Истории</th>
                <th>Дата Состояния</th>
                <th>Статус</th>
                <th>Инвентарный номер</th>
                <th colspan="2">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hist : ${history}">
                <td th:text="${hist.idHistory}"></td>
                <td th:text="${hist.dateOfStatus}"></td>
                <td th:text="${hist.status}"></td>
                <td th:each="cartridge:${cartridges}"
                    th:switch="${cartridge.id}" th:case ="${hist.cartridgesId}"
                    th:text="${cartridge.inventoryNumber}">
                </td>
                <td><a th:href="@{history-update/{id}(id=${hist.idHistory})}">Исправить</a></td>
                <td><a th:href="@{history-delete/{id}(id=${hist.idHistory})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>