<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
    <title>Вход</title>
    <style>
        .container-fluid
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .item
        {
            width: 200px;
            height: 300px;
        }
    </style>
</head>
<body>
<div class="container-fluid fw-bold">
    <div class="item">
        <form th:action="@{/login}" method="post" onclick="submitLimit()">
        <table class="table table-borderless">
            <div style="color: red" th:if="${param.logout}">
                        Вы вышли из системы!
            </div>
            <tbody>
            <tr>
                <td><label for="username" class="col-sm-2 col-form-label"> Логин: </label></td>
                <td><input class="form-control" type="text" id="username" name="username" autofocus></td>
            </tr>
            <tr>
                <td><label for="password" class="col-sm-2 col-form-label"> Пароль: </label></td>
                <td><input class="form-control" type="password" id="password" name="password"></td>
            </tr>
            </tbody>
        </table>
                <input type="submit" class="btn btn-primary mt-2" value="Войти" id="Voiti"/>
        <div style="color: red" th:if="${param.error}">
            Неверный логин или пароль
        </div>
        </form>
    </div>
</div>

<script>
    function submitLimit() {
        let btn = document.getElementById('Voiti')
        setTimeout(function() {
            btn.setAttribute('disabled', 'disabled');
        }, 1);

        setTimeout(function() {
            btn.removeAttribute('disabled');
        }, 300);}
</script>

</body>
</html>