<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
</head>
<body>
<div class="nav justify-content-end" >
    <form th:action="@{/logout}" method="post">
         <input type="submit" value="Выйти" class="btn btn-danger"/>
    </form>
</div>
<div class="container">
    <div class="mx-auto" style="width: 200px;">
        <h1>Главная</h1>
    </div>
        <div class="container ms-auto mt-5 text-center">
            <div class="ms-auto row row-cols-4">
                <p><a class="btn btn-primary" type="button" href="/cartridges">Все картриджи</a></p>

                <p><a class="btn btn-primary" type="button" href="/cartrs">Все модели картриджей</a></p>

                <p><a class="btn btn-primary" type="button" href="/printers">Все модели принтеров</a></p>

                <p><a class="btn btn-primary" type="button" href="/search">Поиск</a></p>
                <div class="mx-auto" style="width: 200px;">
                    <p><a class="btn btn-primary mt-5" type="button" href="/models">Модели</a></p>
                </div>
            </div>
            <div class="ms-auto row row-cols-4">
                <button type="button" class="btn btn-primary" href="/main-frame" data-bs-toggle="modal" data-bs-target="#Lots">
                    Работа с партиями
                </button>
            </div>
        </div>
</div>
<div class="modal fade" id="Lots" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Работа с партиями</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><a class="btn btn-primary" type="button" href="/lots">Создать партию</a></p>
                    <br>
                    <p><a class="btn btn-primary" type="button" href="/lots-look">Просмотреть партию по номеру партии</a></p>
                    <br>
                    <p><a class="btn btn-primary" type="button" href="/lots-look-history">Просмотреть партию по истории</a></p>
                    <br>
                    <p><a class="btn btn-primary" type="button" href="/searchPartylotsByCartridge">Поиск партии по картриджу</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
</div>
</body>
</html>