<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
    <title>Модели</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Поиск</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mx-auto" style="width: 200px;">
    <h1>Модели</h1>
</div>
<div class="container" >
    <div>
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <th class="col-3">Производитель</th>
                <th class="col-4">Модель картриджа</th>
                <th class="col-1">Чип</th>
                <th class="col-4">Модель принтера</th>
            </thead>
        </table>
        <div th:each="man:${manufacturers}">
            <div class="container">
                <div class="row">
                    <div class="col-3 g-0 ">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <td
                                            th:text="${man.modelFromPrinters}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm g-0 ">
                        <table class="table table-hover table-bordered">
                            <tbody th:each="print:${printers}" th:switch="${man.idModels}" th:case="${print.modelsIdModels}">
                                <tr th:each="cart : ${cartrs}" >
                                    <td class="col-4"
                                        th:switch="${print.idPrinters}"
                                        th:case="${cart.printersIdPrinters}"
                                        th:text="${cart.typeCartr}"></td>
                                    <td class="col-1"
                                        th:switch="${print.idPrinters}"
                                        th:case="${cart.printersIdPrinters}"
                                        th:text="${cart.chip}"></td>
                                    <td class="col-4"
                                        th:switch="${print.idPrinters}"
                                        th:case="${cart.printersIdPrinters}"
                                        th:text="${print.typePrinters}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>