<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Работа с партиями</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function() { void (0) }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mx-auto" style="width: 200px;">
    <h2>Создание статуса для партии</h2>
    <button type="button" class="btn btn-primary" href="/lots" data-bs-toggle="modal" data-bs-target="#LotsHistory">
        Создать статус
    </button>
</div>
<div class="modal fade" id="LotsHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="#" th:action="@{/history-create1}" th:object="${history}" method="post" id="addLots">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Создание статуса для партии</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container ms-auto mt-5 fw-bold" >
                        <input readonly type="hidden" th:field="*{idHistory}">
                        <div class="row mb-3">
                            <label for="dateOfStatus" class="col-sm-2 col-form-label">Дата статуса</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control w-50"  th:field="*{dateOfStatus}"
                                       id="dateOfStatus" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="status" class="col-sm-2 col-form-label">Статус</label>
                            <div class="col-sm-7">
                                <select class="form-select w-50" th:field="*{status}" id="status" required>
                                    <option value="в заправке">в заправке</option>
                                    <option value="в работе">в работе</option>
                                    <option value="на складе">на складе</option>
                                    <option value="списан">списан</option>
                                    <option value="возврат">возврат</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="executor" class="col-sm-2 col-form-label">Исполнитель</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control w-50" id="executor" name="executor">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <input  type="submit" id="addLots1" value="Сохранить статус для партии" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>