<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр партии</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.1.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" >
    <div class="mx-auto" style="width: 200px;">
        <h2>Просмотр партии</h2>
        <br>
        <p><a class="btn btn-primary btn-sm" th:href="@{/cartridge-Export-Excel-PartyLots/{lotNumber}/{idHistory}(lotNumber=${lotNumber},idHistory=${idHistory})}">Экспортировать в Excel</a></p>
        <br>
    </div>
    <div class="row mb-3">
        <div th:each="hist:${history}" th:switch="${idHistory}" th:case="${hist.idHistory}">
            <h2>Дата отправки партии</h2>
            <div class="col-sm-7">
                <h2 th:text="${hist.dateOfStatus} + ' || ' + ${hist.status} + ' || ' + ${hist.executor}"></h2>
            </div>
        </div>
    </div>
    <br>
    <br>
    <table class="table-sm table table-hover table-bordered" id="myTable">
        <thead class="table-light">
        <tr>
            <th>Статус картриджа</th>
            <th>Дата принятия</th>
            <th>Статус даты</th>
            <th>Исполнитель статуса</th>
            <th>Номер партии</th>
            <th>Инвентарный номер</th>
            <th>Город</th>
            <th>Исполнитель</th>
            <th>Модель картриджа</th>
            <th>Чип</th>
            <th>Модель принтера</th>
            <th>Производитель</th>
            <th>Количество заправок</th>
            <th>Ресурс</th>
            <th>Комментарии</th>
            <th>Операция комментария</th>
            <th>Операция удаления</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pl : ${partylots1}" >
                <td th:if="${pl.partyStatus == 0 and pl.historyIdHistory != null}"
                    style="color: red">Картридж не пришёл</td>
                <td th:if="${pl.partyStatus == 1}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:if="${pl.partyStatus == 2}"
                    style="color: limegreen">Картридж пришёл</td>
                <td th:if="${pl.partyStatus == 3}"
                    style="color: magenta">Картридж на списании</td>
                <td th:if="${pl.partyStatus == 4}"
                    style="color: blue">Картридж утилизирован</td>
                <td th:if="${pl.partyStatus == 5}"
                    style="color: blue">Картридж утилизирован</td>
                <td th:if="${pl.historyIdHistory == null}">Картридж был удалён из партии</td>
            <div th:if="${pl.historyIdHistoryReturn != null}">
                <div th:each="hist:${history}" th:switch="${pl.historyIdHistoryReturn}" th:case="${hist.idHistory}">
                    <td th:text="${hist.dateOfStatus}"></td>
                    <td th:text="${hist.status}"></td>
                    <td th:text="${hist.executor}"></td>
                </div>
            </div>
            <div th:if="${pl.historyIdHistoryReturn == null}">
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </div>
                <td th:text="${pl.lotNumber}"></td>
                <td th:if="${pl.cartridgesId == null}">Картридж был удалён</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <td th:if="${pl.cartridgesId == null}">-----</td>
                <div th:each="cartridge :${cartridges}" th:switch="${pl.cartridgesId}" th:case="${cartridge.id}">
                    <td th:text="${cartridge.inventoryNumber}" id="foobar"></td>
                    <td th:text="${cartridge.city}"></td>
                    <td th:text="${cartridge.executor}"></td>
                    <div th:each="cartr:${cartrs}" th:switch="${cartr.idCartrs}" th:case="${cartridge.cartrsIdCartrs}">
                        <td th:text="${cartr.typeCartr}"></td>
                        <td th:text="${cartr.chip}"></td>
                        <div th:each="print:${printers}" th:switch="${cartr.printersIdPrinters}" th:case="${print.idPrinters}">
                            <td th:text="${print.typePrinters}"></td>
                            <div th:each="man:${manufacturers}" th:switch="${print.modelsIdModels}" th:case="${man.idModels}">
                                <td th:text="${man.modelFromPrinters}"></td>
                            </div>
                        </div>
                    </div>
                    <td th:text="${cartridge.count}"></td>
                    <td th:text="${cartridge.resource}"></td>
                    <td style="width: 150px;word-wrap: break-word;max-width: 150px" th:text="${pl.partyComments}"></td>
                </div>
               <td th:if="${pl.cartridgesId != null}"><a th:href="@{/addComments/{idHistory}/{lotNumber}/{idPartylots}(idHistory=${idHistory},lotNumber=${pl.lotNumber},idPartylots=${pl.idPartylots})}" class="btn btn-dark">
                    Добавить комментарий
                </a></td>
                <td th:if="${pl.historyIdHistoryReturn == null and pl.cartridgesId != null}"><a th:href="@{/deleteOneCartridgeFromPartyLots/{cartridgesId}/{lotNumber}/{idHistory}(cartridgesId=${pl.cartridgesId},lotNumber=${pl.lotNumber},idHistory=${idHistory})}" class="btn btn-danger btn-sm" id="deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить картридж из партии</a></td>
                <td th:if="${pl.historyIdHistoryReturn != null}">-----</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот картридж из партии???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="" class="btn btn-primary" id="delRef">Да, удалить</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        let table = $('#myTable').DataTable( {
            paging: false,
            info: false,
            "language": {
                "search": "Поиск:",
                "zeroRecords":"Ничего не найдено"
            }
        } );
    })
</script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>