<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание принтера</title>
</head>
<body>
<form action="#" th:action="@{/printers-create}" th:object="${printers}" method="post">
<table>
    <tbody>
    <tr>
        <th for="typePrinters">Тип принтера</th>
        <td><input type="text" th:field="*{typePrinters}" id="typePrinters">
        </td>
    </tr>
    <td><input type="submit" value="Создать Принтер"></td>
    </tbody>
</table>
</form>
</body>
</html>