<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Типы принтеров</title>
</head>
<body>
<div th:switch="${printers}">
    <h2 th:case="null">Типы принтеров не найдены!</h2>
    <div th:case="*">
        <h2>Типы принтеров</h2>
        <table>
            <thead>
            <tr>
                <th>Id принтеров</th>
                <th>Тип принтера</th>
                <th colspan="2">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="print : ${printers}">
                <td th:text="${print.idPrinters}"></td>
                <td th:text="${print.typePrinters}"></td>
                <td><a th:href="@{printers-update/{id}(id=${print.idPrinters})}">Исправить</a></td>
                <td><a th:href="@{printers-delete/{id}(id=${print.idPrinters})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/printers-create">Создать тип принтера</a></p>
    <p><a href="/cartridges">Перейти на картриджи</a></p>
    <p><a href="/cartrs">Перейти на типы картриджей</a></p>
    <p><a href="/Main">Вернуться на главную</a></p>
</div>
</body>
</html>