<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <title>Поиск</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="mx-auto" style="width: 200px;">
        <h1>Поиск</h1>
    </div>
    <form action="#" th:action="@{/search}" th:object = "${cartridges}" method="post">
        <div class="container ms-auto mt-5 fw-bold" >
            <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Поиск (Инвентарному, по заправкам, по городу, по моделям) </label>
                <div class="col-sm-3">
                    <input type="search"  name="keyword" required>
                </div>
                <div class="col-sm-2">
                     <input class="btn btn-primary" type="submit" value="Найти">
                </div>
            </div>
        </div>
    </form>
    <form action="#" th:action="@{/Data-Search}" th:object="${history}" method="post">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Поиск По Дате
        </a>
        <div class="collapse w-25 mt-2" id="collapseExample">
            <div class="card card-body">
        <label Поиск по дате></label>
        <input type="date" name="Date" required>
        <input class="btn btn-primary mt-3" type="submit" value="Найти по дате">
            </div>
        </div>
    </form>
</div>
</body>
</html>