<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Переход на партии</title>
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/sp-1.4.0/datatables.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main" data-bs-toggle="modal" data-bs-target="#CheckRedirect1">На Главную страницу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartrs" data-bs-toggle="modal" data-bs-target="#CheckRedirect2">Модели картриджей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/printers" data-bs-toggle="modal" data-bs-target="#CheckRedirect3">Модели принтеров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cartridges" data-bs-toggle="modal" data-bs-target="#CheckRedirect4">Картриджи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="mx-auto" style="width: 200px;">
        <h2>Переход между принятиями партий</h2>
        <br>
        <a th:href="@{/ComparisonPartyLots/{idHistory}/{idHistoryReturn}/{lotNumber}(lotNumber=${lotNumber},idHistory=${idHistory},idHistoryReturn=${idHistoryReturn})}" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#CheckOneStatusUpdate" id="CheckButtonUpdate">Вернуться на прошлую партию</a>
        <br>
        <br>
        <br>
        <h2>ИЛИ</h2>
        <br>
        <span>Просмотрите и выберите партию которую хотите принять:</span>
        <br>
        <br>
        <br>
    </div>
    <table class="table table-hover table-bordered" id="myTable">
        <thead class="table-light">
        <tr>
            <th>Id партии</th>
            <th>Номер партии</th>
            <th>Дата статуса</th>
            <th>Статус</th>
            <th>Исполнитель</th>
            <th>Статус партии</th>
            <th>Операция просмотра</th>
            <th>Операция сравнения</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="pl1 : ${partylotsList}" th:if="${pl1.lotNumber} != ${lotNumber}">
            <div th:each="hist:${history}" th:switch="${hist.idHistory}" th:case="${pl1.historyIdHistory}">
                <tr>
                    <td th:text="${pl1.idPartylots}"></td>
                    <td th:text="${pl1.lotNumber}"></td>
                    <td th:text="${hist.dateOfStatus}"></td>
                    <td th:text="${hist.status}"></td>
                    <td th:text="${hist.executor}"></td>
                    <td th:if="${pl1.partyStatus == 2}" style="color: limegreen">Партия закрыта</td>
                    <td th:if="${pl1.partyStatus == 1}" style="color: red">Партия не закрыта</td>
                    <td th:if="${pl1.partyStatus == 0}" style="color: red">Партия не закрыта</td>
                    <td><button type="button" class="btn btn-primary" href="/printers-list" data-bs-toggle="modal" data-bs-target="#LooksPartylots">
                        Просмотреть партию
                    </button></td>
                    <td><a th:href="@{/ComparePartyLots/{idHistory}/{lotNumber}(lotNumber=${pl1.lotNumber},idHistory=${pl1.historyIdHistory})}" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#CheckOneStatus" id="CheckButton">Начать принятие другой партии</a></td>
                </tr>
            </div>
        </div>
        </tbody>
    </table>

    <div class="modal fade" id="CheckOneStatus" tabindex="-1" aria-labelledby="CheckOneStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CheckOneStatusModalLabel">Подтверждение перехода</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите перейти на принятие этой партии?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <a href="" class="btn btn-primary" id="ChekingStatus">Да</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CheckOneStatusUpdate" tabindex="-1" aria-labelledby="CheckOneStatusUpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CheckOneStatusUpdateModalLabel">Подтверждение перехода</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите вернуться на прошлую партию?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <a href="" class="btn btn-primary" id="ChekingStatusUpdate">Да</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LooksPartylots" tabindex="-1" aria-labelledby="ProizvoditeliLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProizvoditeliLabel">Просмотр партии</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th>Статус картриджа</th>
                            <th>Id Партии</th>
                            <th>Номер партии</th>
                            <th>Id Картриджа</th>
                            <th>Инвентарный номер</th>
                            <th>Город</th>
                            <th>Исполнитель</th>
                            <th>Модель картриджа</th>
                            <th>Чип</th>
                            <th>Модель принтера</th>
                            <th>Производитель</th>
                            <th>Количество заправок</th>
                            <th>Ресурс</th>
                            <th>Комментарии</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pl : ${partylots1}" >
                            <td th:if="${pl.partyStatus == 0}"
                                style="color: red">Картридж не пришёл</td>
                            <td th:if="${pl.partyStatus == 1}"
                                style="color: limegreen">Картридж пришёл</td>
                            <td th:if="${pl.partyStatus == 2}"
                                style="color: limegreen">Картридж пришёл</td>
                            <td th:text="${pl.idPartylots}"></td>
                            <td th:text="${pl.lotNumber}"></td>
                            <td th:text="${pl.cartridgesId}"></td>
                            <div th:each="cartridge :${cartridges}" th:switch="${pl.cartridgesId}" th:case="${cartridge.id}">
                                <td th:text="${cartridge.inventoryNumber}"></td>
                                <td th:text="${cartridge.city}"></td>
                                <td th:text="${cartridge.executor}"></td>
                                <div th:each="cartr:${cartrs}" th:switch="${cartr.idCartrs}" th:case="${cartridge.cartrsIdCartrs}">
                                    <td th:text="${cartr.typeCartr}"></td>
                                    <td th:text="${cartr.chip}"></td>
                                    <div th:each="print:${printers}" th:switch="${cartr.printersIdPrinters}" th:case="${print.idPrinters}">
                                        <td th:text="${print.typePrinters}"></td>
                                        <div th:each="man:${manufacturers}" th:switch="${print.modelsIdModels}" th:case="${man.idModels}">
                                            <td th:text="${modelFromPrinters}"></td>
                                        </div>
                                    </div>
                                </div>
                                <td th:text="${cartridge.count}"></td>
                                <td th:text="${cartridge.resource}"></td>
                                <td style="width: 150px;word-wrap: break-word;max-width: 150px" th:text="${pl.partyComments}"></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="CheckRedirect1" tabindex="-1" aria-labelledby="CheckRedirectModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel1">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти из сравнения?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/main" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect2" tabindex="-1" aria-labelledby="CheckRedirectModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel2">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти из сравнения?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/cartrs" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect3" tabindex="-1" aria-labelledby="CheckRedirectModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel3">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти из сравнения?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/printers" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckRedirect4" tabindex="-1" aria-labelledby="CheckRedirectModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckRedirectModalLabel4">Подтверждение перехода</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите выйти из сравнения?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="/cartridges" class="btn btn-primary">Да, перейти</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.table #CheckButton').on('click',function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#CheckOneStatus #ChekingStatus').attr('href', href);
        $('#CheckOneStatus').modal();
    });
</script>

<script>
    $('#CheckButtonUpdate').on('click',function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#CheckOneStatusUpdate #ChekingStatusUpdate').attr('href', href);
        $('#CheckOneStatusUpdate').modal();
    });
</script>

</body>
</html>